<header id="main-header" class="py-2 text-white bg-success">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <mat-icon svgIcon="folder" class="text-white"></mat-icon>
          <label class="align-middle mb-0 ml-2">Categories</label>
        </h1>
      </div>
    </div>
  </div>
</header>

<!-- ACTIONS -->

<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto">
        <div class="input-group">
          <input type="text" class="form-control" name="input-search" placeholder="Search" aria-label="Search" [(ngModel)]="searchValue">
          <span class="input-group-append">
            <button class="btn btn-success">Search</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CATEGORIES -->

<section id="posts">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Latest Catgories</h4>
          </div>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Date Posted</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of model; index as i">
                <td scope="row">{{ i + 1 }}</td>
                <td>{{ category.title }}</td>
                <td>{{ category.datePosted | date : 'longDate' }}</td>
              </tr>
            </tbody>
          </table>

          <!--<nav class="ml-4">
            <ul class="pagination">
              <li class="page-item disabled">
                <a href="#" class="page-link">Previous</a>
              </li>
              <li class="page-item active">
                <a href="#" class="page-link">1</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">2</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">3</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">Next</a>
              </li>
            </ul>
          </nav>-->
        </div>
      </div>
    </div>
  </div>
</section>

<footer id="main-footer" class="bg-dark text-white py-3 py-xl-4 fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="lead text-center mb-0">
          Copyright &copy; 2018
        </p>
      </div>
    </div>
  </div>
</footer>
