<header id="main-header" class="py-2 text-white bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <mat-icon svgIcon="settings" style="height:42px;width:42px;"></mat-icon>
          <label class="mb-0 align-middle ml-1">Dashboard</label>
        </h1>
      </div>
    </div>
  </div>
</header>

<!-- ACTIONS -->
<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addPostModal">
          <mat-icon svgIcon="add"></mat-icon>
          <label class="mb-0 align-middle">Add Post</label>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#addCategoryModal">
          <mat-icon svgIcon="add"></mat-icon>
          <label class="mb-0 align-middle">Add Category</label>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#" class="btn btn-warning btn-block" data-toggle="modal" data-target="#addUserModal">
          <mat-icon svgIcon="add"></mat-icon>
          <label class="mb-0 align-middle">Add User</label>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- POSTS -->
<section id="posts">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h4>Latest Posts</h4>
          </div>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Date Posted</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let post of model.posts">
                <td scope="row">{{ post.postId }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.categoryName }}</td>
                <td>{{ post.datePosted | date: 'longDate' }}</td>
                <td>
                  <a routerLink="/details/{{ post.postId }}" class="btn btn-secondary">
                    <mat-icon svgIcon="label" class="text-white"></mat-icon>
                    <label class="align-middle cursor-pointer mb-0 ml-1">Details</label>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center bg-primary text-white mb-3">
          <div class="card-body">
            <h3>Posts</h3>
            <h1 class="display-4">
              <mat-icon svgIcon="edit" style="height:60px;width:60px;"></mat-icon>
              <label class="mb-0 align-middle ml-1">{{ model.postCount }}</label>
            </h1>
            <a routerLink="/posts" class="btn btn-outline-light btn-sm">View</a>
          </div>
        </div>
        <div class="card text-center bg-success text-white mb-3">
          <div class="card-body">
            <h3>Categories</h3>
            <h1 class="display-4">
              <mat-icon svgIcon="folder" style="height:60px;width:60px;"></mat-icon>
              <label class="mb-0 align-middle ml-1">{{ model.categoryCount }}</label>
            </h1>
            <a routerLink="/categories" class="btn btn-outline-light btn-sm">View</a>
          </div>
        </div>
        <div class="card text-center bg-warning text-white mb-3">
          <div class="card-body">
            <h3>Users</h3>
            <h1 class="display-4">
              <mat-icon svgIcon="people" style="height:60px;width:60px;"></mat-icon>
              <label class="mb-0 ml-1 align-middle">{{ model.userCount }}</label>
            </h1>
            <a routerLink="/users" class="btn btn-outline-light btn-sm">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer id="main-footer" class="bg-dark text-white py-3 py-xl-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="lead text-center mb-0">
          Copyright &copy; 2018
        </p>
      </div>
    </div>
  </div>
</footer>
