<header id="main-header" class="py-2 text-white bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1> <i class="fa fa-user"></i> Edit Profile</h1>
      </div>
    </div>
  </div>
</header>

<!-- ACTIONS -->

<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mr-auto">
        <a href="index.html" class="btn btn-light btn-block">
          <i class="fa fa-arrow-left"></i> Back To Dashboard
        </a>
      </div>
      <div class="col-md-3">
        <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#passwordModal">
          <i class="fa fa-lock"></i> Change Password
        </a>
      </div>
      <div class="col-md-3">
        <a href="#" class="btn btn-danger btn-block">
          <i class="fa fa-remove"></i> Delete Account
        </a>
      </div>
    </div>
  </div>
</section>

<!-- PROFILE EDIT -->

<section id="profile">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h4>Edit Profile</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" value="Krishan Aggarwal">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" value="johdoe@gmail.com">
              </div>
              <div class="form-group">
                <label for="title">Bio</label>
                <textarea name="editor1" class="form-control">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus labore, repudiandae ad exercitationem totam expedita incidunt praesentium, voluptas necessitatibus beatae possimus architecto? Culpa vel ipsa aspernatur eligendi sequi eaque recusandae.
                                    </textarea>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h3>Your Avatar</h3>
        <img src="img/avatar.png" alt="" class="img-fluid d-block mb-3">
        <button class="btn btn-primary btn-block">Edit Image</button>
        <button class="btn btn-danger btn-block">Delete Image</button>
      </div>
    </div>
  </div>
</section>
