<header id="main-header" class="py-2 text-white bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <mat-icon svgIcon="edit" class="text-white" style="height:42px;width:42px;"></mat-icon>
          <label class="align-middle mb-0 ml-2">Posts</label>
        </h1>
      </div>
    </div>
  </div>
</header>

<!-- ACTIONS -->

<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" aria-label="Search">
          <span class="input-group-append">
            <button class="btn btn-primary">Search</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- POSTS -->

<section id="posts" class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Latest Posts</h4>
          </div>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Category</th>
                <th>Date Posted</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let post of model; index as i" [ngClass]="{ 'd-none' : i < 6 * (activePage - 1) || i >= 6 * activePage }">
                <td scope="row">{{ i + 1 }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.categoryName }}</td>
                <td>{{ post.datePosted | date: 'longDate' }}</td>
                <td>
                  <a routerLink="/details/{{ post.postId }}" class="btn btn-secondary">
                    <mat-icon svgIcon="label" class="text-white"></mat-icon>
                    <label class="align-middle cursor-pointer mb-0 ml-2">Details</label>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <nav class="ml-4">
            <ul class="pagination">
              <li class="page-item" [ngClass]="{ 'active' : activePage > 1 , 'disabled' : activePage === 1 }" (click)="onClickGotoPage(activePage - 1)">
                <a href="javascript:void(0)" class="page-link">Previous</a>
              </li>
              <li class="page-item" [ngClass]="{ 'active' : activePage === 1 }" (click)="onClickGotoPage(1)">
                <a href="javascript:void(0)" class="page-link">1</a>
              </li>
              <li class="page-item" [ngClass]="{ 'active' : activePage === 2 }" (click)="onClickGotoPage(2)">
                <a href="javascript:void(0)" class="page-link">2</a>
              </li>
              <li class="page-item" [ngClass]="{ 'active' : activePage === 3 }" (click)="onClickGotoPage(3)">
                <a href="javascript:void(0)" class="page-link">3</a>
              </li>
              <li class="page-item" [ngClass]="{ 'active' : activePage < 3 , 'disabled' : activePage === 3 }" (click)="onClickGotoPage(activePage + 1)">
                <a href="javascript:void(0)" class="page-link">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<footer id="main-footer" class="bg-dark text-white py-3 py-xl-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="lead text-center mb-0">
          Copyright &copy; 2018
        </p>
      </div>
    </div>
  </div>
</footer>
