/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
/*body { margin: 0; font-family: 'Roboto', sans-serif; }*/

body {
  padding-top:2.5rem;
  /*padding-bottom: 7.5rem;*/
}

.cursor-pointer {
  cursor: pointer;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-form-field-infix {
  padding: 0.5rem 0 0.5rem 0 !important;
  border-width: 0.4rem !important;
}

/** Material Icons Css **/
.mat-18px {
  font-size: 18px;
}

.mat-24px {
  font-size: 24px;
}

.mat-36px {
  font-size: 36px;
}

.mat-42px {
  font-size: 42px;
  height: 42px !important;
  width: 42px !important;
}

.mat-48px {
  font-size: 48px;
}

.mat-60px {
  font-size: 60px;
  height: 60px !important;
  width: 60px !important;
}
